body{
  margin: 0;
  padding: 0;
}

.slick-slide {
  outline: none !important;
}

/* Este CSS agranda los dots */
.slick-dots li button:before {
  font-size: 12px !important; /* tamaño del punto */
  margin-top: 10px;
}